* {
    padding: 0px;
    margin: 0px;
}

.user {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.user img {
    height: 60px;
}
.user form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    
}

.user form .client {
    display: flex;
    flex-direction: column;
    width: 30vw;
   gap: 10px;
   /* padding: 5px 0px 5px 0px; */
}
.user form .client input{
    padding: 3px 0px 3px 0px;

}

.user form .pass{
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
}
.user form button{
    background-color: rgb(115, 115, 253);
    border: none;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
    color: white;
}

.nonfield li{
color: red;
list-style: none;
}