<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% comment %} <link rel="stylesheet" href="design/css/style.css"> {% endcomment %}
     <link rel="stylesheet" href="{% static 'design/css/style.css' %}">
</head>
<body>
    <h1>Using Static files</h1>
    <p class="blue">Applying css here </p>
    <img src="{% static 'design/images/car.jpeg' %}" alt="car" height="200px">
    <button id="btn">Click</button>
    <script src="{% static 'design/javascript/script.js' %}"></script>
</body>
</html>