<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{isMale}}</h2>
    <table border="2">
        <caption>Student Grades Table</caption>
       
        <thead>
          <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Subject</th>
            <th>Grade</th>
          </tr>
        </thead>
       
        <tbody>
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>Mathematics</td>
            <td>A</td>
          </tr>
          <tr>
            <td>102</td>
            <td>Jane Smith</td>
            <td>Physics</td>
            <td>B</td>
          </tr>
          <tr>
            <td>103</td>
            <td>Emily Johnson</td>
            <td>Chemistry</td>
            <td>A</td>
          </tr>
        </tbody>
       
        <tfoot>
          <tr>
            <td colspan="3">Total Students</td>
            <td>3</td>
          </tr>
        </tfoot>
      </table>
</body>
</html>