* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100dvw;
    height: 100dvh;
    overflow-x: hidden !important;
}

.cursor-pointer {
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 10dvh;
    border: 2px solid yellow;
    background-color: rgb(24, 23, 23);
    overflow-y: hidden;
}

.navbar img{
    height: 50px !important;
    max-height: 60px;

}
.navbar h1 {
    color: whitesmoke;
}

.navbar a {
    color: rgb(195, 193, 193);
}